
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
<style>
  
    header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Contoh gaya untuk elemen footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
</style>    <!-- Favicon -->
    <link rel="icon" href="../public/favicon.ico" type="">
</head>
<body>
    <header>
        <!-- Konten header seperti navigasi bisa ditambahkan di sini -->
    </header>

    {{{body}}}

    <footer>
        <p>&copy; 2023 - {{title}}</p>
    </footer>

    <!-- Link ke script JavaScript eksternal -->
<script src="../public/javascripts/script.js"></script>
</body>