<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Link ke stylesheet eksternal -->
    {{!-- <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> --}}
</head>
<body>
    <header>
        <!-- Konten header seperti navigasi bisa ditambahkan di sini -->
    </header>

    {{{body}}}

    <footer>
        <!-- Konten footer -->
    </footer>

    <!-- Link ke script JavaScript eksternal -->
    {{!-- <script src="/javascripts/script.js"></script> --}}
</body>
</html>
